
@media (min-width: 790px) {

.card {
    display: grid;
    place-items: center;
    grid-auto-flow: row;
    row-gap: 0.5rem;
    color: black;
    margin: 0px;
    padding: 0px;
    grid-template-columns: 1fr 1fr;
}

.company {
    margin:0;
}
.logo {
    background-color: rgb(51, 51, 51);
    padding: 45px;
    width: 100%;
    margin: 0px;
    
}
.logo > img {
    max-width: 200px;
    height: auto;
}
.name {
    font-size: 1rem;
}
.phone {
    margin:0;
}
.profile-photo > img {
    border-radius: 50%;
    padding: 0px;
    max-width: 200px;
}
section {
    margin:0;
    padding: 0;  
}
.text-and-logo {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
    color: black;
    margin: 0px;
    padding: 0px;
}
.title {
    font-size: 2rem;
    font-weight: bolder;
    margin: 0;       
}
.wrapper{
    background-color: white;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    height: 270px;
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    align-items: center;
    min-width: 60%;
    }
}