@import "/css/reset.css";
body {
    font-family: "Open Sans", serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: "../images/black-scratch.webp";
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    columns: 1fr;
    gap: 10px;
}
.card {

}
.company {

}
.logo {

}
.phone {

}
picture {
    
}
section {
    display: grid;
    columns: 1fr;
}
.title {

}
.wrapper{

}
@media screen {
    .card {

    }
    .company {
    
    }
    .logo {
    
    }
    .phone {
    
    }
    picture {
    
    }
    section {

    }
    .title {
    
    }
    .wrapper{
    
    }
}
@media screen {
    .card {

    }
    .company {
    
    }
    .logo {
    
    }
    .phone {
    
    }
    picture {
    
    }
    section {

    }
    .title {
    
    }
    .wrapper{
    
    }
}