@import "/css/reset.css";
body {
    font-family: "Open Sans", serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: "../images/black-scratch.webp";
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    columns: 1fr;
    
}
.card {

}
.company {

}
.logo {
    background-color: rgb(51, 51, 51);
    padding: 60px;
}
.name {

}
.phone {

}
.profile-photo > img {
    border-radius: 50%;
}
section {

}
.title {
    font-size: 1rem;
}
.wrapper{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}
@media screen {
    .card {

    }
    .company {
    
    }
    .logo {
    
    }
    .name{

    }
    .phone {
    
    }
    picture {
    
    }
    section {

    }
    .title {
    
    }
    .wrapper{
    
    }
}
@media screen {
    .card {

    }
    .company {
    
    }
    .logo {
    
    }
    .name {

    }
    .phone {
    
    }
    picture {
    
    }
    section {

    }
    .title {
    
    }
    .wrapper{
    
    }
}