@import "/css/reset.css";
body {
    font-family: "Open Sans", serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: "/images/black-scratch.png";
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card {

}
.company {

}
.logo {

}
.phone {

}
section {

}
.title {

}
.wrapper{

}
@media screen {
    .card {

    }
    .company {
    
    }
    .logo {
    
    }
    .phone {
    
    }
    section {

    }
    .title {
    
    }
    .wrapper{
    
    }
}
@media screen {
    .card {

    }
    .company {
    
    }
    .logo {
    
    }
    .phone {
    
    }
    section {
        
    }
    .title {
    
    }
    .wrapper{
    
    }
}